      </div>
    </td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td style="text-align:center">
      <a href="<%= config.baseUrl %>" style="color:#525252">Watch-Later website</a> - <a href="https://github.com/Dewep/Watch-Later" style="color:#525252">github.com/Dewep/Watch-Later</a><br>
      <a href="<%= config.baseUrl %>/email?sparams=<%= sparams %>" style="color:#525252;font-size:10px">View this email on your browser</a><br>
      <span style="font-size:10px">If you no longer wish to receive these emails you may <a href="<%= config.baseUrl %>">unsubscribe</a> at any time.</span>
    </td>
    <td></td>
  </tr>
</table>
</body>
</html>
