<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <style media="all" type="text/css">
    body, p, h1, h3, a {
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		}
		a { color: #5755d9; }
  </style>
</head>
<body style="padding:0;margin:0;background:#f9f9f9;-webkit-text-size-adjust:100%;width:100% !important;-ms-text-size-adjust:100%;font-family:\'Helvetica Neue\',Helvetica,Arial,sans-serif;color:#525252;font-size:13px;line-height:22px">
  <div style="width:800px;margin:20px auto;border-radius:3px;border:1px solid #dddddd;border-top:3px solid #525252;background:#FFFFFF;">
      <a href="<%= config.baseUrl %>" style="background:#666;height:32px;padding:10px;line-height:32px;text-decoration:none;display:block">
        <b style="float:left;color:#EEE">Watch-Later</b>
        <img style="float:right;display:block;height:32px;width:32px" src="<%= config.baseUrl %>/icons/favicon-32x32.png"/>
      </a>
      <div style="padding:42px 24px;text-align:justify">
